.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-top: 3px solid var(--purple);
}

.answer span {
    font-size: 2rem;
}

.statusBtnContainer {
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 7px;
}

.statusBtn {
    border-radius: 100%;
    height: 3rem;
    min-width: 3rem;
    color: white;
}