.flashcard {
    height: 80vh;
    width: 80vw;
    min-height: fit-content;
    min-width: fit-content;
    border: var(--border-size) solid var(--purple);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    min-height: 30px;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-int) var(--border-radius-int) 0 0;
}

.header span {
    color: var(--btn-text-color);
    font-size: large;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-bottom: 2%;
}

.statusBtnContainer {
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 7px;
}

.statusBtn {
    border-radius: 100%;
    height: 3rem;
    min-width: 3rem;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--light-gray);
    height: 7%;
    border-radius: 0 0 var(--border-radius-int) var(--border-radius-int);
}

.footer button {
    padding: 0;
    height: fit-content;
    background-color: transparent;
    color: var(--text-color);
    margin: 0;
}

.footer button:hover {
    background-color: transparent;
}

.footer:hover {
    background-color: var(--medium-gray);
}