:root {
    --purple: rgb(238, 130, 238);
    --dark-purple: rgb(212, 99, 212);
    --light-purple: rgb(245, 166, 245);
    --gray: rgb(71, 71, 71);
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(71, 71, 71);
    --btn-text-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: var(--gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80vh;
    width: 80vw;
    min-height: fit-content;
    min-width: fit-content;
    border: 3px solid var(--purple);
    border-radius: 1rem;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    min-width: 30vw;
    text-align: center;
}