* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Arial Narrow Bold', sans-serif;
}

:root {
    --purple: rgb(238, 130, 238);
    --dark-purple: rgb(212, 99, 212);
    --light-purple: rgb(245, 166, 245);
    --gray: rgb(71, 71, 71);
    --text-color: rgb(71, 71, 71);
}

body {
    background-color:var(--gray);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 896px;
    width: 414px;
    border: 3px solid var(--purple);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    min-width: 30vw;
    text-align: center;
}

.startBtn {
    padding: 8px 20px;
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 25px;
    overflow: hidden;
    position: relative;
    background-color: var(--purple);
}

.startBtn:hover {
    background: var(--purple);
    box-shadow: 0 0 20px 5px var(--light-purple);
}